/.conda-capture
/tableturf_sim/data/logs
/gamestrategy_RL/__pycache__
/switch_connect/__pycache__
/tableturf_sim/src/__pycache__
/tableturf_sim/src/assets/__pycache__
/tableturf_sim/src/assets/__pycache__
/tableturf_sim/src/engine/__pycache__
/tableturf_sim/src/engine/__pycache__
/tableturf_sim/src/assets/__pycache__
/tableturf_sim/src/engine/__pycache__
/tableturf_sim/src/engine/__pycache__
/tableturf_sim/src/__pycache__
/tableturf_sim/src/realtime_bridge/__pycache__
/tableturf_sim/src/utils/__pycache__
/tableturf_sim/tools/__pycache__
/tableturf_sim/tools/__pycache__
/switch_connect/vision_capture/__pycache__
/switch_connect/virtual_gamepad/__pycache__
